body{
  background-color: black
}
header{
  background-color: #0F0F0E
}

.titulo{font-size: 100px; color: #C7C7C7; text-align: center;margin-top: -7%}

h1{
  font-family: inherit; text-align: center; color:white; border: 10px solid #C9460E;
}

h2{
  font-family: inherit; text-align: center; color:white; border: 10px solid #C9460E;
}


/*arrumar os bagulho do hobbie*/
p{
  font-family: monospace; font-size: 30px; color: white; text-align: center; border: 10px solid cyan;
}

ul {
  top: 200px;
font-size: 30px;
}

.logo{
width: 15%;
margin-left: 0%;
}

.contato{
font-family: cursive; background-color: #A89203; color: #FFFFFF ; font-size: 30px; text-align: center;
}

img{
  width: 100%;
  margin-left: 0%;
}
