body{
  background-color: #AEAEAE
}
header{
  background-color: #D9D9D9
}

nav li{
  display: inline-block;
  margin: 0 0 0 350px;
  text-transform: uppercase;
}

nav a:hover{
color: white;
text-decoration: underline;
}

.titulo{  font-family: cursive; font-size: 150px; color: Black; text-align: center;margin-top: -9%}

.titulo2{  font-family: cursive; font-size: 100px; color: Black; text-align: center;margin-left: inherit;}

h1{
  font-family: inherit; text-align: center; color:Black; border: 10px solid #795A49;
}

h2{
  font-family: inherit; text-align: center; color:Black; border: 10px solid #795A49;
}

.hobbies{
  font-family: monospace; font-size: 30px; color:Black; text-align: center; border: 10px solid #795A49;
}

ul {
  top: 200px;
font-size: 30px;
}

.logo{
width: 30%;
margin-left: -5%;
}

h4{font-family: inherit; color:Black ; font-size: 40px; text-align: left;}
h5{font-family: inherit; color:Black ; font-size: 40px; text-align: left;}
h6{font-family: inherit; color:Black ; font-size: 40px; text-align: left;}


img{
  width: 50%;
  margin-left: 25%;
}

.contato{
    font-family: monospace; font-size: 50px; color:Black; text-align: center;
}
